body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 200px;
    justify-content: space-around;
    margin-bottom: 20px;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 400px;
    margin-top: 20px;

}

.board{
    display: grid;
    width: 500px;
    height: 500px;
    border: 2px solid black;
}